html {
	-webkit-user-select: none;
}

html, body, img, div {	
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body { height: 100%; }

body {
	text-align: center;
	/*font-family: Roboto, Tahoma, Geneva, sans-serif;*/
	font-family: Roboto, 'Open Sans', sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	background-color: #F0EEE9;
	color: #ffffff;
}

.header {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 50px;
	z-index: 99;
	vertical-align: middle;
	text-align: left;
	line-height: 48px;
	font-size: 20px;
	background-color: #00AEEF;
	box-shadow: 0px 2px 3px #545454;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 2px #ffffff;
	box-shadow: 0px 2px 2px #ffffff;
}

.footerUpArrow {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #000000;
	font-weight: bold;
	font-size: 42px;
	opacity: 0.5;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-border-radius: 8px 0px 0px 0px;
}
.footerUpArrow.ng-hide {
	opacity: 0;
}

.headerLabel {
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 0px 0px 2px #008FC4;
}

.headerLabel.ng-click-active {
	opacity: 0.6;
	text-shadow: none;
}

.backArrow {
	float: left;
	width: 16px;
	font-size: 44px;
	line-height: 40px;
}

.content {
	z-index: 98;
	padding-top: 53px;
	padding-bottom: 4px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	position: absolute;
	width: 100%;
}
.content.ng-hide {
	opacity: 0;
}

.mainWrap {
	padding-bottom: 30px;
}

.gifContainer {
	margin: 4px;
	padding: 0px;
	position: relative;
	/*overflow: hidden;*/
}

.imgGif {
	width: 100%;
	/*-webkit-border-radius: 2px;*/
}

.infoBadge {
	background-color: #008FC4;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 8px;
	margin-right: 8px;
	z-index: 99;
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
	line-height: 38px;
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 16px;
	text-shadow: 0px 0px 2px #00AEEF;
	-webkit-box-shadow: 1px 1px 2px #ffffff;
}

.infoBadge.ng-click-active {
	opacity: 0.6;
	text-shadow: none;
	-webkit-box-shadow: none;
}

.bigButton {
	overflow: hidden;
	background-color: #7FC04C;
	border-radius: 4px;
	margin: 4px;
	padding: 6px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	-webkit-box-shadow: 1px 1px 2px #ffffff;
}

.bigButton.ng-click-active {
	-webkit-box-shadow: none;
	opacity: 0.6;
}

.inputSearch {
	width: 96%;
	outline: none;
	background-color: #ffffff;
	background-image: -webkit-linear-gradient(top, #c0c0c0, #ffffff);
	color: #000000;
	-webkit-border-radius: 2px;
	border: 0;
	height: 42px;
	font-size: 24px;
	-webkit-box-shadow: 0px 1px 1px #c0c0c0;
	margin: 4px;
}

.content.ng-hide-add, .content.ng-hide-remove,
.footerUpArrow.ng-hide-add, .footerUpArrow.ng-hide-remove,
.imgMenuLayer.ng-hide-add, .imgMenuLayer.ng-hide-remove {
	display: block!important;
}

.textPanel {
	background-color: #ffffff;
	color: #000000;
	border-radius: 2px;
	padding: 10px;
	margin: 4px;
	margin-top: 8px;
	margin-bottom: 10px;
	text-align: left;
}

.textPanel, .imgGif {
	-webkit-box-shadow: 0px 2px 2px #c0c0c0;
	border: 1px solid #c0c0c0;
}

.imgMenuLayer {
	position: absolute;
	bottom: 4px;
	opacity: 0.6;
	background-color: #000000;
	font-weight: bold;
	font-size: 32px;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	margin: 1px;
	outline: 0;
	border: 0;
	border-radius: 0px 0px 2px 2px;
	width: 100%;
}

.imgMenuLayer.ng-hide {
	opacity: 0;
	bottom: -14px;
}

.imgMenuLayer.ng-click-active {
	opacity: 1;
}

.tag {
	font-weight: bold;
	float: left;
	background-color: #00AEEF;
	margin: 8px;
	padding: 6px;
	-webkit-box-shadow: 2px 2px 2px #c0c0c0;
	box-shadow: 2px 2px 2px #c0c0c0;
	border-radius: 4px 0px 0px 4px;
}
.tag.ng-click-active {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #74CCED;
}