html {
	-webkit-user-select: none;
}

html, body, img, div {	
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body { height: 100%; }

body {
	text-align: center;
	/*font-family: Roboto, Tahoma, Geneva, sans-serif;*/
	font-family: Roboto, 'Open Sans', sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	background-color: #F0EEE9;
	color: #ffffff;
}

.header {
	position: fixed;
	display: table-cell;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 50px;
	z-index: 99;
	vertical-align: middle;
	text-align: left;
	line-height: 48px;
	font-size: 20px;
	background-color: #00AEEF;
	background-image: -webkit-linear-gradient(top, #00AEEF, #008FEF);
	box-shadow: 0px 2px 3px #545454;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 2px #F0EEE9;
	box-shadow: 0px 2px 2px #F0EEE9;
}

.footerUpArrow {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #000000;
	font-weight: bold;
	font-size: 42px;
	opacity: 0.5;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-border-radius: 8px 0px 0px 0px;
}
.footerUpArrow.ng-hide {
	opacity: 0;
}

.headerLabel {
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 1px 1px 2px #008FC4;
	display: inline-block;
}

.headerLabel.ng-click-active {
	opacity: 0.6;
	text-shadow: none;
}

.backArrow {
	float: left;
	width: 16px;
	font-size: 44px;
	line-height: 40px;
}

.content {
	z-index: 98;
	padding-top: 53px;
	padding-bottom: 4px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	position: absolute;
	width: 100%;
}
.content.ng-hide {
	opacity: 0;
}

.mainWrap {
	padding-bottom: 30px;
}

.gifContainer {
	margin: 8px;
	padding: 0px;
	position: relative;
	/*overflow: hidden;*/
}

.imgGif, .imgNotLoaded {
	width: 100%;
	/*-webkit-border-radius: 2px;*/
}

.infoBadge {
	background-color: #008FC4;
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
	margin-top: 8px;
	margin-right: 8px;
	z-index: 99;
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
	line-height: 38px;
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 16px;
	text-shadow: 0px 0px 2px #00AEEF;
	-webkit-box-shadow: 1px 1px 2px #ffffff;
}

.infoBadge.ng-click-active {
	opacity: 0.6;
	text-shadow: none;
	-webkit-box-shadow: none;
}

.bigButton {
	overflow: hidden;
	background-color: #7FC04C;
	border-radius: 4px;
	margin: 4px;
	margin-left: 8px; 
	margin-right: 8px;
	padding: 6px;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	-webkit-box-shadow: 0px 0px 2px #ffffff;
	vertical-align: middle;
}

.bigButton.ng-click-active {
	-webkit-box-shadow: none;
	opacity: 0.6;
}

.inputSearch {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
	background-color: #ffffff;
	background-image: -webkit-linear-gradient(top, #c0c0c0, #ffffff);
	color: #000000;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 0;
	border-width: 0;
	display: block;
	height: 42px;
	font-size: 24px;
	-webkit-box-shadow: 0px 1px 1px #c0c0c0;
	margin: 0px;
	margin-bottom: 4px;
	margin-top: 2px;
	padding: 0px;
}

.content.ng-hide-add, .content.ng-hide-remove,
.footerUpArrow.ng-hide-add, .footerUpArrow.ng-hide-remove,
.imgMenuLayer.ng-hide-add, .imgMenuLayer.ng-hide-remove {
	display: block!important;
}

.textPanel {
	background-color: #ffffff;
	color: #000000;
	padding: 10px;
	margin: 8px;
	margin-bottom: 10px;
	text-align: left;
}

.textPanel, .imgGif {
	-webkit-box-shadow: 0px 0px 2px #c0c0c0;
	box-shadow: 0px 0px 2px #c0c0c0;
	/*border: 1px solid #ffffff;*/
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.imgGif {
	opacity: 1;
}
.imgNotLoaded {
	opacity: 0;
}

.imgMenuLayer {
	position: absolute;
	bottom: 4px;
	opacity: 0.6;
	background-color: #000000;
	font-weight: bold;
	font-size: 32px;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	/*margin: 1px;*/
	outline: 0;
	border: 0;
	border-radius: 0px 0px 2px 2px;
	width: 100%;
	margin: 0 auto;
}

.imgMenuLayer.ng-hide {
	opacity: 0;
	bottom: -14px;
}

.imgMenuLayer.ng-click-active {
	opacity: 1;
}

.tag {
	font-weight: bold;
	float: left;
	background-color: #00AEEF;
	margin: 8px;
	padding: 6px;
	-webkit-box-shadow: 2px 2px 2px #c0c0c0;
	box-shadow: 2px 2px 2px #c0c0c0;
	border-radius: 16px 2px 2px 16px;
}
.tag.ng-click-active {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #74CCED;
}

.loadingAnim, .loadingAnimHide {
	width: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -18px;
	color: #ffffff;
	text-shadow: 1px 1px 0px #000000;
	-webkit-text-shadow: 1px 1px 0px #000000;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.loadingAnim {
	opacity: 0.9;
}

.loadingAnimHide {
	opacity: 0;
}

.aboutLogo {
	background-color: #00AEEF;
	color: #ffffff;
	font-weight: bold;
	font-size: 28px;
	padding: 6px;
	margin-bottom: 6px;
	border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
}

.mainFixedPanel {
	position: fixed;
	width: 100%;
	background-color: #F0EEE9;
	vertical-align: middle;
	-webkit-box-shadow: 0px 1px 1px #F0EEE9;
	box-shadow: 0px 1px 1px #F0EEE9;
}

.mainScrollableTags {
	margin-top: 146px;
}

.bottomAdsContainer {
	position: fixed;
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	height: 56px;
	left: 0px;
	bottom: 0px;
	z-index: 99;
}

.star {
height: 0;
width: 0;
	font-size: 12px;
	position: relative;
	border-left: 1.382em solid transparent;
	border-right: 1.382em solid transparent;
	border-top: 1em solid #ffffff;
}

.star::before {
	left: -1.45em;
	top: -1.04em;
	content: '';
	position: absolute;
	border-left: 1.382em solid transparent;
	border-right: 1.382em solid transparent;
	border-top: 1em solid #ffffff;

	-webkit-transform: rotate(72deg);
	-moz-transform: rotate(72deg);
	-o-transform: rotate(72deg);
	-ms-transform: rotate(72deg);
	transform: rotate(72deg);
}

.star::after {
	left: -1.35em;
	top: -1.04em;
	content: '';
	position: absolute;
	border-left: 1.382em solid transparent;
	border-right: 1.382em solid transparent;
	border-top: 1em solid #ffffff;

	-webkit-transform: rotate(-72deg);
	-moz-transform: rotate(-72deg);
	-o-transform: rotate(-72deg);
	-ms-transform: rotate(-72deg);
	transform: rotate(-72deg);
}

.video{
	width:1.2em;
	height:1em;
	/*margin:30% auto;*/
	position:relative;
	background:#ffffff;
	border-radius:15%;
font-size:20px;
}

.video:after{
	display:block;
	position:absolute;
	left:0.6em;
	content:"";
	width:0;
	height:0;
	border-right:0.5em solid  #ffffff;
	border-left: 0.5em solid  transparent;
	border-top: 0.5em solid  transparent;
	border-bottom:0.5em solid  transparent;
}

.mail{
	font-size:10px;
	display:block;
	position:relative;
	border-top:1em solid transparent;
	border-left:1.5em solid #ffffff;
	border-right:1.5em solid #ffffff;
	border-bottom:1em solid #ffffff;
height:0;
width:0;
}
.mail:before{
    content: '';
    top: -1.23em;
    left: -1.5em;
    display: block;
    position: absolute;
    border-top: 1em solid #ffffff;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 1em solid transparent;
    font-size: 0.8em;
}

.share{
	position: relative;
	width: 1.5em;
	height: 1.5em;
	/*margin: 30% auto;*/
	background: transparent;
	border:solid .5em #ffffff;
	border-right:solid .2em transparent;
	border-top:solid .2em transparent;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
       font-size: 9px;
}

.share:before{
	position: absolute;
	content:"";
	top:.9em;
	left:-.9em;
	width: 1em;
	height: 1em;
	margin: 30% auto;
	background: #ffffff;
	border-radius: 50%;
	box-shadow:2em -.15em 0 #ffffff,.15em -2em 0 #ffffff;
}

#bowlG{
position:relative;
width:32px;
height:32px;
}

#bowl_ringG{
position:absolute;
width:32px;
height:32px;
border:3px solid #FFFFFF;
-webkit-border-radius:32px;
border-radius:32px;
box-shadow: 0 0 1px #000000;
}

.ball_holderG{
position:absolute;
width:9px;
height:32px;
left:12px;
top:0px;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
animation-name:ball_moveG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-7px;
width:13px;
height:13px;
background:#FFFFFF;
-webkit-border-radius:11px;
border-radius:11px;
box-shadow: 0 0 1px #000000;
}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(0deg)}

100%{
transform:rotate(360deg)}

}