<style>
#loadingdatacontainer{
	position: absolute;
	top: 20px;
	right: 50px;
}
#circleG{
width:46.666666666666664px;
}

.circleG{
background-color:#ffffff;
float:left;
height:10px;
margin-left:5px;
width:10px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.9500000000000002s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:7px;
animation-name:bounce_circleG;
animation-duration:1.9500000000000002s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:7px;
}

#circleG_1{
-webkit-animation-delay:0.39s;
animation-delay:0.39s;
}

#circleG_2{
-webkit-animation-delay:0.9099999999999999s;
animation-delay:0.9099999999999999s;
}

#circleG_3{
-webkit-animation-delay:1.1700000000000002s;
animation-delay:1.1700000000000002s;
}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#00AEEF}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#00AEEF}

100%{
}

}

</style>
<div id="loadingdatacontainer">
<div id="circleG">
<div id="circleG_1" class="circleG">
</div>
<div id="circleG_2" class="circleG">
</div>
<div id="circleG_3" class="circleG">
</div>
</div>
</div>