<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<title>Giggle GIF</title>
	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/javascript" src="js/plugins/SocialSharing.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div ng-controller="ctrl" class="mainWrap" ng-cloak>
		<div class="header">
			<div ng-click="goBack()" class="headerLabel">
				<span class="backArrow">
					<span ng-hide="selectedScreen">&nbsp;</span>
					<span ng-show="selectedScreen">&#8249;</span>
				</span>
				<img src="icone.png" style="height: 42px; margin-top: 4px; margin-right: 4px; float: left;" />
				<span ng-hide="selectedScreen">Giggle GIF</span>
				<span ng-show="selectedScreen" ng-bind="selectedScreen.label" style="text-overflow: ellipsis;"></span>
			</div>
			<div ng-include="'partials/loadingdata.html'" ng-show="loadingData"></div>
			<div class="infoBadge" ng-click="selectedScreen = {id: 'about', label: 'About'}">i</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'search'">
			<div class="textPanel" ng-bind="searchValue.text"></div>
			<div ng-repeat="gif in searchResults">
				<div class="gifContainer">
					<div class="loadingAnimHide">
						<div id="bowlG">
							<div id="bowl_ringG">
								<div class="ball_holderG">
									<div class="ballG"></div>
								</div>
							</div>
						</div>
					</div>
					<img animate-on-visible="{{gif}}" class="imgNotLoaded" ng-click="gif.showMenuLayer = !gif.showMenuLayer" />
					<div class="imgMenuLayer" ng-show="gif.showMenuLayer" ng-click="shareImg(gif)" ng-cloak>
						<span>Share &#8250;</span>
					</div>
				</div>
				<div ng-if="($index + 1) % 5 === 0">
					<script type="text/javascript" src="http://ad.leadboltads.net/show_app_ad.js?section_id=270251555"></script>
				</div>
			</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'top'">
			<div ng-repeat="gif in trendingResults">
				<div class="gifContainer">
					<div class="loadingAnimHide">
						<div id="bowlG">
							<div id="bowl_ringG">
								<div class="ball_holderG">
									<div class="ballG"></div>
								</div>
							</div>
						</div>
					</div>
					<img animate-on-visible="{{gif}}" class="imgNotLoaded" ng-click="gif.showMenuLayer = !gif.showMenuLayer" />
					<div class="imgMenuLayer" ng-show="gif.showMenuLayer" ng-click="shareImg(gif)" ng-cloak>
						<span>Share &#8250;</span>
					</div>
				</div>
				<div ng-if="($index + 1) % 5 === 0">
					<script type="text/javascript" src="http://ad.leadboltads.net/show_app_ad.js?section_id=270251555"></script>
				</div>
			</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'tv'">
			<div class="gifContainer">
				<img ng-src="{{tvGif.image_original_url}}" ng-click="tvGif.showMenuLayer = !tvGif.showMenuLayer; tvPause = tvGif.showMenuLayer" class="imgGif" />
				<div class="imgMenuLayer" ng-show="tvGif.showMenuLayer" ng-click="shareImg(tvGif)" ng-cloak>
					<span>Share &#8250;</span>
				</div>
			</div>
			<div>
				<img src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
			</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'about'">
			<div class="textPanel" style="padding: 0px; font-weight: bold; text-align: center;">
				<div class="aboutLogo">Giggle GIF</div>
				<div style="padding: 4px;">
					<img style="float: right; margin: 4px;" src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
					<div style="text-align: left; margin: 4px;">
						<div style="font-size: 20px;">version 1.1.3</div>
						<div>Developed by Raphael Cohen.</div>
					</div>
				</div>
			</div>
			<div class="textPanel">
				Like this app? We need your help to make it better. Please send us feedback and comments by contacting us.
				Also, you can tell your friends about Giggle GIF by sharing this app with them.
			</div>
			<div ng-click="shareApp()" class="bigButton">
				<div class="share" style="float: left; top: 6px; left: 8px; margin-right: 18px;"></div>
				<span>Share this App</span>
			</div>
			<div ng-click="linkto('mailto:raphael.cohen@gmail.com?subject=GiggleGIF')" class="bigButton">
				<div class="mail" style="float: left; top: 6px; margin-right: 8px;"></div>
				<span>Contact Us</span>
			</div>
		</div>
		<div class="content" style="margin-bottom: 56px;" ng-hide="selectedScreen">
			<div class="mainFixedPanel">
				<div style="padding-left: 8px; padding-right: 8px; margin-bottom: 6px;">
					<form ng-submit="searchSubmit()" style="margin: 0px; padding: 0px; display:inline;">
						<input id="inSearch" type="search" ng-model="searchValue.text" placeholder="Type here to search" class="inputSearch" />
					</form>
				</div>
				<div ng-click="getTrendingGiphy(true)" class="bigButton">
					<div class="star" style="float: left; top: 10px; margin-right: 6px;"></div>
					<span>What's Hot</span>
					<img src="img/Giphy_API_Logo_ForWhite.gif" style="float: right; border-radius: 4px; border: 2px solid #ffffff;" />
				</div>
				<div ng-click="startTV(true)" class="bigButton">
					<div class="video" style="float: left; top: 6px; margin-right: 14px;"></div>
					<span>GIF TV</span>
					<img src="img/Giphy_API_Logo_ForWhite.gif" style="float: right; border-radius: 4px; border: 2px solid #ffffff;" />
				</div>
			</div>
			<div class="mainScrollableTags">
				<div>
					<div ng-repeat="tag in randomTags track by $index" class="tag" ng-click="onTagClick(tag)" ng-bind="'• ' + tag"></div>
				</div>
			</div>
			<div class="bottomAdsContainer">
				<div style="display: inline-block;">
					<script type="text/javascript" src="http://ad.leadboltads.net/show_app_ad.js?section_id=270251555"></script>
				</div>
			</div>
		</div>
		<div class="footerUpArrow" ng-show="showUpArrow" scroll-up-on-click>
			<span style="margin-top: 10px;">&#8679;</span>
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-touch.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/GiphyAPI.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</body>
</html>
