<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<title>Giggle GIF</title>
	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/javascript" src="js/plugins/SocialSharing.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div ng-controller="ctrl" class="mainWrap" ng-cloak>
		<div class="header">
			<div ng-click="goBack()" class="headerLabel">
				<span class="backArrow">
					<span ng-hide="selectedScreen">&nbsp;</span>
					<span ng-show="selectedScreen">&#8249;</span>
				</span>
				<img src="icone.png" style="height: 42px; margin-top: 4px; margin-right: 4px; float: left;" />
				<span ng-hide="selectedScreen">Giggle GIF</span>
				<span ng-show="selectedScreen" ng-bind="selectedScreen.label" style="text-overflow: ellipsis;"></span>
			</div>
			<div ng-include="'partials/loadingdata.html'" ng-show="loadingData"></div>
			<div class="infoBadge" ng-click="selectedScreen = {id: 'about', label: 'About'}">i</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'search'">
			<div class="textPanel" ng-bind="searchValue.text"></div>
			<div ng-repeat="gif in searchResults">
				<div class="gifContainer">
					<div class="loadingAnimHide">loading...</div>
					<img animate-on-visible="{{gif}}" class="imgNotLoaded" ng-click="gif.showMenuLayer = !gif.showMenuLayer" />
					<div class="imgMenuLayer" ng-show="gif.showMenuLayer" ng-click="shareImg(gif)">
						<img src="img/share.png" />
						<span>Share</span>
					</div>
				</div>
				<div ng-if="$odd" class="gifContainer">
					<script type="text/javascript" src="http://ad.leadboltads.net/show_app_ad.js?section_id=270251555"></script>
				</div>
			</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'top'">
			<div ng-repeat="gif in trendingResults" class="gifContainer">
				<div class="loadingAnimHide">loading...</div>
				<img animate-on-visible="{{gif}}" class="imgNotLoaded" ng-click="gif.showMenuLayer = !gif.showMenuLayer" />
				<div class="imgMenuLayer" ng-show="gif.showMenuLayer" ng-click="shareImg(gif)">
					<img src="img/share.png" />
					<span>Share</span>
				</div>
			</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'tv'">
			<div class="gifContainer">
				<img ng-src="{{tvGif.image_original_url}}" ng-click="tvGif.showMenuLayer = !tvGif.showMenuLayer; tvPause = tvGif.showMenuLayer" class="imgGif" />
				<div class="imgMenuLayer" ng-show="tvGif.showMenuLayer" ng-click="shareImg(tvGif)">
					<img src="img/share.png" />
					<span>Share</span>
				</div>
			</div>
			<div>
				<img src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
			</div>
		</div>
		<div class="content" ng-show="selectedScreen.id === 'about'">
			<div class="textPanel" style="padding: 0px; font-weight: bold; text-align: center;">
				<div class="aboutLogo">Giggle GIF</div>
				<div style="padding: 4px;">
					<img style="float: right; margin: 4px;" src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
					<div style="text-align: left; margin: 4px;">
						<div style="font-size: 20px;">version 1.0.6</div>
						<div>Developed by Raphael Cohen.</div>
					</div>
				</div>
			</div>
			<div class="textPanel">
				Like this app? We need your help to make it better. Please send us feedback and comments by contacting us.
				Also, you can tell your friends about Giggle GIF by sharing this app with them.
			</div>
			<div ng-click="shareApp()" class="bigButton">
				<img src="img/share.png" style="margin-top: 2px; margin-right: 3px;" /><span>Share this App</span>
			</div>
			<div ng-click="linkto('mailto:raphael.cohen@gmail.com?subject=GiggleGIF')" class="bigButton">
				<img src="img/contact.png" style="margin-top: 2px; margin-right: 5px;" /><span>Contact Us</span>
			</div>
		</div>
		<div class="content" ng-hide="selectedScreen">
			<div class="mainFixedPanel">
				<table style="width: 100%; border-spacing: 0px;">
					<tr>
						<td style="padding: 0px;">
							<form ng-submit="searchSubmit()">
								<input id="inSearch" type="search" ng-model="searchValue.text" placeholder="Type here to search" class="inputSearch" speech x-webkit-speech />
							</form>
						</td>
						<td style="width: 74px; padding: 0px;">
							<img src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
						</td>
					</tr>
					<tr>
						<td style="padding: 0px;">
							<div ng-click="getTrendingGiphy(true)" class="bigButton">
								<img src="img/top.png" style="margin-top: 2px; margin-right: 4px; float: left;" />
								<span>What's Hot</span>
							</div>
						</td>
						<td style="width: 74px; padding: 0px;">
							<img src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
						</td>
					</tr>
					<tr>
						<td style="padding: 0px;">
							<div ng-click="startTV(true)" class="bigButton">
								<img src="img/tv.png" style="margin-top: 2px; margin-right: 6px; float: left;" />
								<span>Giggle GIF TV</span>
							</div>
						</td>
						<td style="width: 74px; padding: 0px;">
							<img src="img/Giphy_API_Logo_ForWhite_Trans.gif" />
						</td>
					</tr>
				</table>
			</div>
			<div class="mainScrollableTags">
				<div>
					<div ng-repeat="tag in randomTags track by $index" class="tag" ng-click="onTagClick(tag)" ng-bind="'• ' + tag"></div>
				</div>
			</div>
		</div>
		<div class="footerUpArrow" ng-show="showUpArrow" scroll-up-on-click>
			<span style="margin-top: 10px;">&#8679;</span>
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-touch.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/GiphyAPI.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</body>
</html>